/* 
    Copyright 2018 Moonshot.Express
    Created by Ahsan Fazal
*/

/* ==========================================================================
General CSS
========================================================================== */
@font-face {
    font-family: Circular-Regular;
    src: url(../fonts/Circular-Regular.ttf);
}

@font-face {
    font-family: Circular-Book;
    src: url(../fonts/Circular-Book.ttf);
}

@font-face {
    font-family: Circular-Bold;
    src: url(../fonts/Circular-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
Author Styles
========================================================================== */
.top-bar {
    background: #f2994a;
    height: 45px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.color.primary {
    color: #f2994a;
}

.hero {
    padding: 50px 0;
}

.hero .menu {
    margin: 0 0 100px 0;
}

.hero .menu {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.hero .menu .logo {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    letter-spacing: 1.6px;
    align-self: center;
    height: 36px;
}

.hero .menu .divider {
    margin: 0px 25px;
    height: 30px;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.5)
}

.hero .menu .links {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.hero .menu .links .link {
    align-self: center
}

.hero .menu .links .link {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.2s ease
}

.hero .menu .links .link:hover {
    color: #f2994a;
}

.hero .text {
    margin-bottom: 100px;
    font-family: Circular-Regular;
    width: 450px;
}

.hero .text .title {
    font-size: 24px;
    color: #000000;
}
.hero .text .subtitle {
    font-size: 16px;
    color: rgba(0,0,0,0.50);
}
.hero .text .description {
    margin-top: 20px;
    font-family: Circular-Book;
    font-size: 16px;
    color: rgba(0,0,0,0.50);
}

.hero .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.hero .buttons .button {
    padding: 5px 30px;
    text-decoration: none;
    font-family: Circular-Book;
}

.hero .buttons .button:hover {
    opacity: 0.7;
    transition: all 0.2s ease;
}
.hero .buttons .and {
    align-self: center;
    margin: 0 15px;
    font-family: Circular-Book;
    font-size: 16px;
    color: rgba(0,0,0,0.50);
}

.hero .buttons .secondary {
    color: #f2994a;
    border: #f2994a 2px solid;
    border-radius: 3px;
}

.hero .buttons .primary {
    background-color: #f2994a;
    color: #fff;
    border-radius: 3px;
    align-self: center;
    padding: 7px 30px;
}

.hero .graphics {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 465px;
    background-color: #131314;
    display: flex;
    width: 600px;
}

.hero .graphics:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #131314;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.hero .graphics img {
    display: block;
    max-width: 350px;
    width: auto;
    height: auto;
    align-self: center;
    margin-left: 150px;
}

.graph-section {
    background-color: #131314;
    width: 100%;
    display: flex;
    position: relative;
}

.graph-section .text {
    padding: 50px 0px;
    width: 350px;
}

.graph-section .text .title {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 2.67px;
}

.graph-section .text .description {
    margin-top: 30px;
    font-family: CircularSpotifyTxT-Light;
    font-size: 16px;
    color: rgba(255,255,255,0.80);
    letter-spacing: 0;
    line-height: 30px;
}

.graph-section .button {
    padding: 5px 30px;
    text-decoration: none;
    font-family: CircularSpotifyTxT-Book;
    color: #f2994a;
    border: #f2994a 2px solid;
    border-radius: 3px;
    margin-top: 30px;
    display: inline-block;
    transition: all 0.2s ease;
}

.graph-section .button:hover {
    background-color: #f2994a;
    color: #fff;
}

.graph-section .image-container img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    align-self: center;
}

.graph-section .image-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.graph-section .image-background {
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    z-index: 0;
    background-color: #131314;
}

.steps-section {
    padding: 100px 0px
}

.main-title {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #000000;
    letter-spacing: 2.67px;
    text-align: center;
}


.main-description {
    font-family: Circular-Book;
    font-size: 16px;
    color: #4D4D4D;
    letter-spacing: 0;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.steps-section .cards {
    margin-top: 64px
}

.steps-section .cards .card {
    background: #FFFFFF;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    padding: 64px 80px;
    margin-bottom: 64px
}

.steps-section .cards .card.inactive {
    border: 1px solid #bebebe;
    opacity: 0.5;
    box-shadow: none;
}

.steps-section .cards .card.done {
    border: 1px solid #00CF98;
    opacity: 0.5;
    box-shadow: none;
    position: relative;
}

.steps-section .cards .card.done .done-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Circular-Bold;
    font-size: 100px;
    color: #00CF98;
}

.steps-section .cards .card .title {
    font-family: Circular-Bold;
    font-size: 30px;
}

.steps-section .cards .card .explaination {
    margin-top: 32px;
    display: flex;
}

.steps-section .cards .card .explaination .description {
    width: 50%
}

.steps-section .cards .card .explaination .goal {
    width: 50%
}

.steps-section .cards .card .explaination .title {
    font-family: Circular-Bold;
    font-size: 20px;
    color: #000000;
}

.steps-section .cards .card .explaination .title {
    font-family: Circular-Bold;
    font-size: 16px;
    color: #000000;
}

.steps-section .cards .card .explaination .text {
    font-family: Circular-Book;
    font-size: 16px;
    color: #6A6A6A;
    letter-spacing: 0;
    margin-top: 32px;
    line-height: 29px;
    width: 80%
}
.steps-section .cards .card .explaination .text.bold {
    font-family: Circular-Bold;
}
.main-title {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #000000;
    letter-spacing: 2.67px;
    text-align: center;
}


.main-description {
    font-family: Circular-Book;
    font-size: 16px;
    color: #4D4D4D;
    letter-spacing: 0;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.ecosystem-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.ecosystem-card {
    height: 230px;
    width: 250px;
    margin: 45px;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
}

.maincontainer {
    margin: auto;
    max-width: 1500px;
    min-width: 1200px;
    position: relative;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.15);
}
.footer {
    margin-top: 100px;
    height: 350px;
    max-width: 1500px;
    background-color: #0A3954;
    font-family: Circular-Book !important;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 30px;
}
.pages {
    font-family: Circular-Book;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-right: 35px;
}
.pagestitle {
    color: white;
    text-decoration: none;
    padding-top: 64px;
    font-family: Circular-Bold;
}
.pagescontent {
    margin-bottom: 64px;
}
.pagescontent a {
    color: #FFFFFF;
    text-decoration: none;
}

.contact {
    margin-left: 33px;
    width: 320px;
    color: #FFFFFF;
    padding-top: 64px;
}
.contact a {
    text-decoration: none;
    color: #FFFFFF;
}
.progress {
    margin-left: 62px;
    width: 320px;
    padding-top: 64px;
    color: #FFFFFF;
}
.progressbar {
    width: 320px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 100px;
}
.progressbarpercentage {
    width: 10%;
    height: 30px;
    background-color: #f2994a;
    border-radius: 100px;
}
.ecosystem-button {
    background-color: #f2994a;
    color: white;
    border-radius: 3px;
    align-self: center;
    width: 200px;
    text-align: center;
    margin-left: 25px;
    height: 30px;
    padding-top: 7px;
}
.ecosystem-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Circular-Regular;
    font-size: 14px;

}
.ecosystem-card img {
    width: auto;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}
.image-background {
    float: left;
}
.text {
    float: left;
}
/* ==========================================================================
CSS media queries
========================================================================== */

@media only screen and (max-width: 1200px) {
    .container {
        width: 80%
    }
}
/* ============================================================================================== 
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#131314 url(../img/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
